<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.consultant">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndRegisterActivity"></activity>
        <activity android:name=".note_bill" />
        <activity android:name=".client_add" />
        <activity android:name=".alert_add" />
        <activity android:name=".income" />
        <activity android:name=".acount" />
        <activity android:name=".voice2text" />
        <activity android:name=".client" />
        <activity android:name=".alert" />
        <activity android:name=".free" />
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advice" />
        <activity android:name=".settings" />
        <activity android:name=".corporation" />
        <activity android:name=".help" />
        <activity android:name=".scan" />
        <activity android:name=".publish" />
        <activity android:name=".collect" />
        <activity android:name=".attention" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>